body {
    background: radial-gradient(circle, rgba(237,183,237,1) 67%, rgba(141,223,203,1) 100%);
    font-family: 'Mooli', sans-serif;
}

.container {
    width: 60%;
    height: 80vh;
    overflow: hidden;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container__slides {
    width: 100%;
    height: 80%;
    display: flex;
}

img {
    flex: 1 0 100%;
    border-radius: 20px;
    transition: 0.2s ease-in;
}

input {
    display: none;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls > label {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controls > label > div {
    width: 20px;
    height: 20px;
    background: #82A0D8;
    border-radius: 50%;
}

.controls > label > div:hover {
    cursor: pointer;
    transition: 0.8s ease;
    background: #ECEE81;
}

input#r1:nth-child(1):checked ~ .container .container__content .controls label:nth-child(1) .control,
input#r2:nth-child(2):checked ~ .container .container__content .controls label:nth-child(2) .control,
input#r3:nth-child(3):checked ~ .container .container__content .controls label:nth-child(3) .control,
input#r4:nth-child(4):checked ~ .container .container__content .controls label:nth-child(4) .control {
    background: #EDB7ED;
    box-shadow: inset 0 0 0 3px #82A0D8;
    transition: 0.8s ease-in;
}

input#r1:nth-child(1):checked ~ .container .container__content .controls label:nth-child(1):hover .control,
input#r2:nth-child(2):checked ~ .container .container__content .controls label:nth-child(2):hover .control,
input#r3:nth-child(3):checked ~ .container .container__content .controls label:nth-child(3):hover .control,
input#r4:nth-child(4):checked ~ .container .container__content .controls label:nth-child(4):hover .control {
    background: #EDB7ED;
    box-shadow: inset 0 0 0 3px #ECEE81;
}


.container__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    align-items: center;
}

.container__content .content .text {
    flex: 1 0 150%;
    font-size: 25px;
    transition: 0.2s ease-in;
}

.container__content .content .controls {
    transform: scale(0);
    transform-origin: bottom;
}

.container__content .content:hover .controls {
    transform: scale(1);
}

#r1:checked ~ .container .container__slides img:nth-child(1) {
    margin-left: 0%;
}

#r2:checked ~ .container .container__slides img:nth-child(1) {
    margin-left: -100%;
}

#r3:checked ~ .container .container__slides img:nth-child(1) {
    margin-left: -200%;
}

#r4:checked ~ .container .container__slides img:nth-child(1) {
    margin-left: -300%;
}

#r1:checked ~ .container .container__content .content .text:nth-child(1) {
    margin-left: 0%;
}

#r2:checked ~ .container .container__content .content .text:nth-child(1) {
    margin-left: -150%;
}

#r3:checked ~ .container .container__content .content .text:nth-child(1) {
    margin-left: -300%;
}

#r4:checked ~ .container .container__content .content .text:nth-child(1) {
    margin-left: -450%;
}

@media all and (max-width: 1034px) {
    .container {
        width: 70%;
    }

    .container__content {
        margin-top: 20px;
        flex-direction: column-reverse;
    }
}

@media all and (max-width: 888px) {
    .container {
        width: 80%;
    }
}
